.header {
    display: flex;
    align-items: center;
    background: var(--sec-col);
    padding: 1rem;
    position: fixed;
    top: 0px;
    width: 100%;
    font-style: italic;
    z-index: 2;
}

.img {
    width: 1.5rem;
}