.header {
    display: flex;
    align-items: center;
    background: var(--sec-col);
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    position: fixed;
    height: 5rem;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.h3 {
    font-style: italic;
    font-size: clamp(1.5rem, 3.5vw, 4rem);
}