:root {
    --pry-col: #040A1B;
    --sec-col: #668BC4;
    --bg-col: #FEFEFE;
    --bg-col-2: #335495;
    --bg-col-3: #A5BECF;
    --text-col: #363748;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    background: var(--bg-col);
    color: var(--pry-col);
}